report/main.synctex.gz
report/main.log
report/main.fls
report/main.fdb_latexmk
report/main.blg
report/main.bbl
report/main.aux
.DS_Store
.Rproj.user
.RData
.Rhistory
generation_1/output/*
generation_2/output/*
report/ОТЗЫВ НА КР.docx
report/title_page.docx
report/pozdnyakov_v_v_primenenie-generativnyh-modeley-dlya-ocenki-riska-v-torgovle-syrevymi-tovarami.pdf
report/title_page.pdf
report/main.out
report/main.toc
report/ctf_notes.md
generation_2/.ipynb_checkpoints/*
