report/main.synctex.gz
report/main.log
report/main.fls
report/main.fdb_latexmk
report/main.blg
report/main.bbl
report/main.aux
.DS_Store
.Rproj.user
.RData
.Rhistory
*/.ipynb_checkpoints/*
generation_1/output/*
generation_1/data/.ipynb_checkpoints/*
